body{
    background-color: cadetblue;
}
.outer_container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tasks_img{
    background-image: url(/TODOLIST/Images/To-Do-List-Heading.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    border-radius: 5px;  
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 5px;  
    padding: 10px; 
    background: darkkhaki;
    border-radius: 5px;   
}
.task_input{
width:73%;
border-radius: 5px;  
height: 15px;
padding: 10px;
border: 2px solid black;
margin-bottom: 20px;
}

.task_btn{
    width: 100px;
    height: 40px;
    background: blueviolet;
    color: chocolate;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid black;
    }

table{
    width: 50%;
    margin:30px auto;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid black;
}

th{
    font-size: 19px;
    color: black;
}

th, td {
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover{
    background: cornflowerblue;
}
.task{
    text-align: left;
}
.delete{
    text-align: center;
}

.delete a{
    color:white;
    background: crimson;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}