body{
    font-family: 'Montserrat';
    font-size: 20px;
}
.outer_container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tasks_img{
    background-image: url(/TODOLIST/Images/img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 5px;
}

.task_input{
width:73%;
border-radius: 5px;  
height: 15px;
padding: 15px;
border: 2px solid black;
margin-bottom: 20px;
}
.one{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;   
    
}
.task_btn{
    width: 25%;
    height: 40px;
    background: blueviolet;
    color: chocolate;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid black;
    }
.todo{
    width: 50%;
    margin:30px auto;    
}

.task_cont{
padding: 15px;
margin-bottom:10px;
background: #fcfcfc;
border: 1px solid silver;
border-radius: 5px;
display:flex;
justify-content: space-between;
}
.task_cont:hover{
    background: #e5e5e5;
}

