body{
    font-family: 'Montserrat';
    font-size: 20px;
}
.outer_container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tasks_img{
    background-image: url(/TODOLIST/Images/To-Do-List-Heading.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 5px;  
}

.tasks_cont{
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 5px;  
    padding: 10px; 
    background-color: wheat;
    border-radius: 5px;   
}
.task_input{
width:73%;
border-radius: 5px;  
height: 15px;
padding: 15px;
border: 2px solid black;
margin-bottom: 20px;
}
.one{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.task_btn{
    width: 25%;
    height: 40px;
    background: blueviolet;
    color: chocolate;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid black;
    }
.todo{
    width: 50%;
    margin:30px auto;    
}

.task_cont{
padding: 10px;
display: flex;
}

.task_cont:hover{
    background: cornflowerblue;
}

.task_cell{
padding-left: 20px;
}
.delete a{
    color:white;
    background: crimson;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
}